@{
    ViewBag.Title = "Cardus";
}

<section class="u-clearfix u-image u-shading u-section-3" id="carousel_f68f" data-image-width="1645" data-image-height="1080">
 
    <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-size-20">
                        <div class="u-layout-col">
                            <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-1">
                                <div class="u-container-layout u-container-layout-1"></div>
                            </div>
                            <div class="u-align-left u-container-style u-grey-90 u-layout-cell u-right-cell u-size-20 u-layout-cell-2">
                                <div class="u-container-layout u-valign-middle u-container-layout-2">
                                    <span class="u-icon u-icon-circle u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 -42 426.66667 426" style=""><use xlink:href="#svg-f236"></use></svg><svg class="u-svg-content" viewBox="0 -42 426.66667 426" id="svg-f236"><path d="m373.332031.332031h-64c-29.417969 0-53.332031 23.9375-53.332031 53.335938v64c0 29.394531 23.914062 53.332031 53.332031 53.332031h64c3.648438 0 7.210938-.382812 10.667969-1.089844v43.757813c0 47.058593-38.273438 85.332031-85.332031 85.332031h-21.335938c-11.796875 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.535156 21.335938 21.332031 21.335938h21.335938c70.589843 0 128-57.410157 128-128v-160c0-29.398438-23.914063-53.335938-53.335938-53.335938zm0 0"></path><path d="m117.332031.332031h-64c-29.417969 0-53.332031 23.9375-53.332031 53.335938v64c0 29.394531 23.914062 53.332031 53.332031 53.332031h64c3.648438 0 7.210938-.382812 10.667969-1.089844v43.757813c0 47.058593-38.273438 85.332031-85.332031 85.332031h-21.335938c-11.796875 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.535156 21.335938 21.332031 21.335938h21.335938c70.589843 0 128-57.410157 128-128v-160c0-29.398438-23.914063-53.335938-53.335938-53.335938zm0 0"></path></svg></span>
                                    <p class="u-large-text u-text u-text-default u-text-variant u-text-1"> Happiness is not at the top of the mountains but in how to climb it.</p>
                                </div>
                            </div>
                            <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
                                <div class="u-container-layout u-container-layout-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-19">
                        <div class="u-layout-col">
                            <div class="u-container-style u-image u-layout-cell u-size-60  u-layout-cell-4" >
                                <div class="u-container-layout u-container-layout-4"></div>
                            </div>
                            <div class="u-align-left u-container-style u-grey-10 u-layout-cell u-size-30 u-layout-cell-5">
                                <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-container-layout-5">
                                    <h2 class="u-text u-text-default u-text-2" >Cardus</h2>
                                    <p class="u-text u-text-3"> A loyalty program that will open you up to more opportunities, routes and, of course, a discount on the next fascinating trips</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-21">
                        <div class="u-layout-col">
                            <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-20 u-layout-cell-6">
                                <div class="u-container-layout u-container-layout-6"></div>
                            </div>
                            <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-layout-cell-7">
                                <div class="u-container-layout u-container-layout-7"></div>
                            </div>
                            <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-20 u-layout-cell-8">
                                <div class="u-container-layout u-valign-top u-container-layout-8"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
