@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/About-1.css" media="screen">

<section class="u-clearfix u-image u-section-1" id="sec-a461" data-image-width="1280" data-image-height="800">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-palette-2-base u-radius-50 u-shape u-shape-round u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500"></div>
        <div class="u-container-style u-group u-radius-50 u-shape-round u-white u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="0">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h2 class="u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-lang-en="​The world's most unique adventures &amp;amp; resorts"> The world's most unique adventures &amp; resorts</h2>
                <p class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-lang-en="Image from <a href=&quot;https://pixabay.com/&quot; class=&quot;u-active-none u-border-1 u-border-active-grey-75 u-border-black u-border-hover-grey-75 u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1&quot; target=&quot;_blank&quot; style=&quot;border-style: none none solid; padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0&quot;>Pixabay</a>">
                    
                </p>
            </div>
        </div>
    </div>
</section>
